<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample title</title>
    <style>
        * {
            font-family: monospace;
            background-color: aqua;
        }
    </style>
</head>
    <body>
        <h1>This is sample.html</h1>
        <h2>2022 Oct 13 14:46</h2>
        <h3>WhiteboardNyan_BE/templates/WhiteboardNyan_App/sample.html</h3>
    </body>
</html>